In [4]:
# Python Assignment
N="asd@gmail.com"
val=N.split("@")[1]
#print(val)
print(val.split(".")[0])

gmail

**take an email as input from the user and print the domain name of that.**

In [6]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

**print values from 10 to 1.**

**print out a set containing all the colors from color_palette_1 which are not present in color_palette_2**

In [ ]:
color_palette_1 = set(["White", "Black", "Red"]) 
color_palette_2 = set(["Red", "Green"])

**compute the distance between the points (x1, y1) and (x2, y2)**

In [10]:
from math import *
tuple_1 = (3,5)
tuple_2 = (9,7)

#print(tuple_2[0])
res=sqrt((tuple_2[0] - tuple_1[0])**2+(tuple_2[1] - tuple_1[1])**2)
print(res)

6.324555320336759

**print all the even numbers upto 100.**

In [ ]:
for i in range(0,101,2):

**find the maximum and minimum values in a given heterogeneous list.
Original list:
['Hello', 1, 7, 6, 8, 'version']
Maximum and Minimum values in the said list:
(8, 7)**

In [14]:
lst=['Hello', 1, 7, 6, 8, 'version']

mini,maxi = None,None

for item in lst:
    
    if type(item) is int:
        
        if mini is None:
            
            mini = item
            maxi =item
            
        else:
            
            if mini > item:
                mini = item
                
            if maxi < item:
                maxi = item
    else:
        pass
        
print(mini,maxi)

1 8

**concatenate following dictionaries to create a new one.**

In [17]:
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
dic3={5:50,6:60}
dic1.update(dic2)
dic1.update(dic3)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**create a dictionary from a string.
Note: Track the count of the letters from the string.
Sample string : 'motorsport'
Expected output: {'m': 1, 'o': 3, 't': 2, 'r': 2, 's': 1, 'p': 1,}**

In [18]:
s="motorsport"

d={}
for char in s:
    d[char]=d.get(char,0)+1
print(d)

{'m': 1, 'o': 3, 't': 2, 'r': 2, 's': 1, 'p': 1}

**read a text file and print all the lines that has word "Texas".**

In [ ]:
# Hint : create a text file, it should contain text which may have lines of text which includes texas as a word

**print armstrong number from 1 to 100**

In [21]:
n = 153
temp = n
sum_total = 0

while(n):
    
    rem = n % 10
    n = n // 10
    
    sum_total = sum_total + rem**3
    
if temp == sum_total:
    print(sum_total)

153

**print sum of digits of a number which is taken as input**